<h1 mat-dialog-title>Cambiar Contraseña</h1>
<div mat-dialog-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Contraseña Nueva</mat-label>
      <input matInput formControlName="newPassword" required>
      <mat-error *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
        La contraseña debe tener al menos 8 caracteres, una mayúscula y un número
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Repita la Contraseña</mat-label>
      <input matInput formControlName="confirmPassword" required>
      <mat-error *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched">
        Las contraseñas deben coincidir
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Actualizar Contraseña</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" (click)="closeDialog()" class="text-white" style="background-color: #166fd4;">Cerrar</button>
</div>
