<h2 mat-dialog-title>Editar Tipología</h2>
<mat-dialog-content class="edit-dialog-content">
  <form #editForm="ngForm">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="data.tipologia.descripcion" name="descripcion" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Codigo</mat-label>
      <input matInput [(ngModel)]="data.tipologia.codigoBanner" name="codigo" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!editForm.valid">Guardar</button>
</mat-dialog-actions>
