
<div class="flex m-4">
    <div class="flex flex-col container justify-center text-center items-center">
        <div class="text-justify">
            <div class="w-full justify-center text-center items-center p-2 mb-4" style="background-color: #2563eb;">
              <span class="text-white text-xl font-semibold">INSTRUCCIONES</span><br>
            </div>
            <span style="font-size: 15px; line-height: 30px;"><b style="color: #2563eb;">1. ID DE USUARIO Y NOMBRE: </b>Asegúrate de que estos campos estén completados con tu información personal.</span><br>
            <span style="font-size: 15px; line-height: 30px;"><b style="color: #2563eb;">2. ASUNTO: </b>Escribe un título breve y claro que resuma el problema o solicitud que deseas reportar.</span><br>
            <span style="font-size: 15px; line-height: 30px;"><b style="color: #2563eb;">3. DESCRIPCIÓN: </b>En este campo, detalla tu problemática de la manera más clara y precisa posible. Asegúrate de incluir toda la información relevante, como los pasos que realizaste antes de encontrar el problema, y cualquier otro detalle que consideres importante para que podamos ayudarte mejor.</span><br>
            <span style="font-size: 15px; line-height: 30px;"><b style="color: #2563eb;">4. CATÁLOGO DE SERVICIOS (OPCIONAL): </b>Si lo consideras necesario, selecciona un servicio del catálogo que esté relacionado con tu problema o solicitud.</span><br>
            <span style="font-size: 15px; line-height: 30px;"><b style="color: #2563eb;">5. ADJUNTAR ARCHIVOS (OPCIONAL): </b>Si dispones de imágenes, documentos u otros archivos que ayuden a explicar tu caso, puedes adjuntarlos utilizando esta opción.</span><br>
            <span style="font-size: 15px; line-height: 30px;"><b style="color: #2563eb;">6. UBICACIÓN (OPCIONAL): </b>Si lo consideras relevante para tu solicitud, puedes proporcionar la ubicación donde ocurrió el problema o donde se requiere asistencia.</span><br>
            <span style="font-size: 15px; line-height: 30px;"><b style="color: #2563eb;">7. CREAR TICKET: </b>Una vez completados todos los campos, haz clic en el botón "Crear Ticket" para enviar tu solicitud.</span><br>
        </div>
    </div>
</div>
