<div class="flex justify-center" style="background-image: url('https://i.imgur.com/U1wUZNh.png'); height: 100vh;">
    <!-- <div class="form-container">
        <p class="title">INICIAR SESION</p>
        <form class="form" (ngSubmit)="onLogin()">
            <div class="input-group">
                <label for="username">USUARIO</label>
                <input type="text" [(ngModel)]="loginData.idUsuario" name="username" id="username" placeholder="" maxlength="9">
            </div>
            <div class="input-group">
                <label for="password">CONTRASEÑA</label>
                <input type="password" [(ngModel)]="loginData.password" name="password" id="password" placeholder="">
                <div class="forgot"> -->
                    <!-- <a rel="noopener noreferrer" href="#">Olvidaste tu contraseña ?</a> -->
                <!-- </div>
            </div>
            <div class="mt-4">
                <button type="submit" class="sign">Ingresar</button>
            </div>
        </form>
        <p class="signup mt-2">No tienes una cuenta?.
            <a rel="noopener noreferrer" href="/register" class="">Registrarse</a>
        </p> 
    </div> -->
</div>