<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  
  <!-- Contenedor del Modal con Scroll Vertical -->
  <div class="bg-white rounded-lg shadow-lg max-w-5xl w-full max-h-screen p-4 overflow-y-auto">
    <h1 class="text-2xl font-bold text-center mb-4">CATÁLOGO DE UBICACIONES</h1>
    <div class="space-y-4">
      <div *ngFor="let level of catalogLevels; let i = index" class="space-y-2">
        <h3 class="text-xl"><b>{{ level.label }}</b></h3>
        <div class="flex flex-wrap gap-2">
          <button *ngFor="let catalog of level.catalogs"
                  (click)="onCatalogClick(catalog, i)"
                  [ngClass]="{'bg-blue-500 text-white': level.selected === catalog.codi, 'text-blue-500 border border-blue-500': level.selected !== catalog.codi}"
                  class="px-4 py-2 rounded shadow">
            {{ catalog.nombre }}
          </button>
        </div>
      </div>
    </div>
  
    <!-- Mostrar la descripción del aula seleccionada -->
    <div *ngIf="aulaDescSeleccionada" class="mt-4">
      <h3 class="text-lg font-bold">Descripción del Aula:</h3>
      <p class="text-lg">{{ aulaDescSeleccionada }}</p>
    </div>
  
    <button mat-raised-button (click)="selectFinalCatalog()"
            [disabled]="!finalSelection"
            class="mt-4 px-4 py-2 bg-blue-600 text-white rounded shadow hover:bg-blue-700 disabled:bg-gray-400"
            color="primary">Seleccionar</button>
  </div>
  
</div>
