<div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  
  <div class="container lg:m-4 w-full">
    <div class="flex justify-between text-xl my-3 lg:my-5 text-gray-500">
      <b>REGISTRO TICKET USUARIO</b>
      <div class="flex lg:mr-5 gap-2">
        <button (click)="openInstrucciones()" mat-raised-button type="button" title="Instrucciones"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16"><path fill="#666666" d="M7 4.75c0-.412.338-.75.75-.75h.5c.412 0 .75.338.75.75v.5c0 .412-.338.75-.75.75h-.5A.753.753 0 0 1 7 5.25zM10 12H6v-1h1V8H6V7h3v4h1z"/><path fill="#666666" d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m0 14.5a6.5 6.5 0 1 1 0-13a6.5 6.5 0 0 1 0 13"/></svg></button>
        <button routerLink="/menu/inicio" mat-raised-button type="button" class="text-white" style="background-color: #166fd4; width:150px;">
            <p class="flex justify-center items-center text-center m-auto gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M20 11H7.83l5.59-5.59L12 4l-8 8l8 8l1.41-1.41L7.83 13H20z"/></svg>
                Regresar
            </p>
        </button>
      </div>
  </div>
      <form #ticketForm="ngForm" (ngSubmit)="createTicket()">
        <div class="lg:flex lg:flex-wrap gap-5 w-full">
              <div class="flex flex-col flex-1 gap-3 border p-3 h-100 shadow-border w-1/2">
                <div class="flex flex-col flex-1 gap-3">
  
                    <div class="flex flex-col lg:flex-row gap-2">
                          <div class="flex gap-2">
                              <mat-form-field appearance="fill" class="w-full">
                                  <mat-label>ID Usuario</mat-label>
                                  <input matInput maxlength="9" [(ngModel)]="ticket.idUsuario" name="idUsuario" #idUsuario="ngModel" required [disabled]="true">
                              </mat-form-field>
                          </div>
                          <mat-form-field appearance="fill" class="w-full">
                              <mat-label>Nombre</mat-label>
                              <input matInput [(ngModel)]="ticket.nombre" name="nombre" required [disabled]="true">
                            </mat-form-field>
                    </div>
                </div>
                <!-- Asunto -->
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Asunto</mat-label>
                    <input matInput [(ngModel)]="ticket.asunto" name="asunto" required>
                </mat-form-field>
                      
                <!-- Detalle -->
                <div class="mb-3 container break-all" style="overflow-wrap: break-word;">
                    <label for="detalle" class="form-label text-gray-500"><b>Descripción:</b></label>
                    <quill-editor class="break-all" [(ngModel)]="descEditor"
                        [modules]="editorConfig"
                        (onEditorCreated)="setEditorInstance($event)"
                        (onContentChanged)="onEditorChange($event)"
                        style="height: 300px;">
                    </quill-editor>
                </div>

                <div class="flex gap-2 pt-3">
                  <div class="text-md text-gray-500">
                    <b>Catálogo de servicios (Opcional)</b>
                  </div>
                </div>
                <div class="flex flex-col lg:flex-row gap-2 w-full">
                  <div class="flex gap-2 lg:w-1/3">
                    <mat-form-field appearance="fill" class="w-full">
                      <mat-label>Busqueda</mat-label>
                      <input matInput [(ngModel)]="searchQuery" (input)="search(searchQuery)" name="serviceName">
                    </mat-form-field>
                    <div class="mb-3 flex lg:hidden flex-col justify-start">
                      <button (click)="openCatalogo()" class="flex items-center justify-center border-2 bg-blue-600 rounded-md shadow-border" type="button" style="width:54px; height:54px;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256"><path fill="#ffffff" d="M144 128a16 16 0 1 1-16-16a16 16 0 0 1 16 16m-84-16a16 16 0 1 0 16 16a16 16 0 0 0-16-16m136 0a16 16 0 1 0 16 16a16 16 0 0 0-16-16"/></svg>
                      </button>
                  </div>
                </div>
                <div class="lg:w-2/3">
                  <mat-form-field class="w-full">
                    <mat-label>Catalogo</mat-label>
                    <mat-select [(value)]="ticket.catalogo" (selectionChange)="handleCatalogChange($event.value)" required>
                      <mat-option *ngFor="let catalogo of catalogos" [value]="catalogo.codi">
                        {{ catalogo.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                    <div class="mb-3 hidden lg:flex flex-col justify-start">
                        <button (click)="openCatalogo()" class="flex items-center justify-center border-2 bg-blue-600 rounded-md shadow-border" type="button" style="width:54px; height:54px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256"><path fill="#ffffff" d="M144 128a16 16 0 1 1-16-16a16 16 0 0 1 16 16m-84-16a16 16 0 1 0 16 16a16 16 0 0 0-16-16m136 0a16 16 0 1 0 16 16a16 16 0 0 0-16-16"/></svg>
                        </button>
                    </div>
                </div>
                </div>
                <div>
                  <label id="lblCatalogo" class="text-blue-600" for=""><b>{{catalogPath}}</b></label>
                </div>
                
                <div class="flex flex-row gap-2 border-t-2 justify-between border-gray-300 pt-3">
                  <button type="button" mat-raised-button (click)="openUbicacion()" style="color: #166fd4">Ubicación</button>
                  <div class="flex justify-center items-center text-center">
                    <label id="lblUbicacion" class="text-blue-600" for=""><b>{{ ubicacionJerarquia }}</b></label>
                  </div>
                </div>
  
                <div class="flex gap-2 border-t-2 justify-between border-gray-300 pt-3">
                    <!-- Adjunto -->
                    <div class="flex justify-center text-center items-center gap-1">
                        <label for="archivoAdjunto" class="form-label text-gray-500"><b>Adjunto:</b></label>
                        <input type="file" id="archivoAdjunto" (change)="onFileSelected($event)" multiple>
                    </div>

                    <!-- Botón de Envío -->
                    <div class="flex justify-center text-center items-center gap-2">
                        <button mat-raised-button type="submit" class="text-white" [disabled]="loading || !ticketForm.valid" style="background-color: #166fd4;">Crear Ticket</button>
                        <button routerLink="/menu/inicio" type="button" style="color: #166fd4">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
     </form>
  </div>