.shadow-border {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); /* ajusta estos valores según necesites */
  }

.code-container {
  white-space: pre-wrap;      /* Mantiene el formato de espacios pero permite el salto de línea */
  word-wrap: break-word;      /* Asegura que las palabras largas no sobresalgan del contenedor */
  overflow-wrap: break-word;  /* Alternativa a word-wrap */
}

.categoria-descripcion {
  margin-bottom: 2px; /* Ajusta el valor según sea necesario */
}

.catalog-level {
  margin-top: 5px; /* Espacio entre los niveles */
  margin-bottom: 5px;
  font-weight: bold; /* Resalta el nivel y el nombre */
}

::ng-deep .ql-container {
  height: 300px;
}

::ng-deep .ql-editor {
  height: 100%;
}

.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  border: none;
  padding: 0px 5px;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: #2885ee;
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}

.fixed-size-image {
  width: 30px;
  height: 30px;
  max-width: 30px; /* Asegura que la imagen no se agrande más allá de este tamaño */
  max-height: 30px; /* Asegura que la imagen no se agrande más allá de este tamaño */
}

.fixed-size-image-router {
  width: 16px;
  height: 16px;
  max-width: 16px; /* Asegura que la imagen no se agrande más allá de este tamaño */
  max-height: 16px; /* Asegura que la imagen no se agrande más allá de este tamaño */
}

@media (max-width: 1024px) and (min-width: 768px) {
  ::ng-deep .ql-container {
    height: 250px;
  }

  ::ng-deep .ql-editor {
    height: 100%;
  }
}

/* Tamaño para dispositivos móviles (menos de 768px) */
@media (max-width: 768px) {
  ::ng-deep .ql-container {
    height: 200px;
  }

  ::ng-deep .ql-editor {
    height: 100%;
  }
}


.mat-progress-bar {
  height: 20px; /* Ajusta la altura de la barra de progreso */
}

.mat-progress-bar .mat-progress-bar-buffer {
  height: 20px; /* Asegura que la altura del buffer coincida */
}

.mat-progress-bar .mat-progress-bar-primary {
  height: 20px; /* Asegura que la altura del color principal coincida */
}

.listo{
  color: #4E846D;
  background-color: #E1FCEF;
}

.iniciado{
  color: #E65B00;
  background-color: #FEDEB4;
}

.programado{
  color: #6D5713;
  background-color: #F5F3CD;
}